<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <!-- ***CHANGE ME*** -->
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Styling-->
    <link rel="stylesheet" href="css/styles.css">

    <title>My Planner App</title>
</head>

<body>
    

    <div class="container-fluid grid">
        <form action="/" method="post">
        <div class="row head">
            <div class="col">
                <input id="Submit" type="submit" value="Submit">
            </div>
            <div class="col text-center">
                <h5 id="Location">Chicago</h5>
            </div>
            <div class="col-4 text-center">
                <h3>My Planner</h3>
            </div>
            <div class="col">
                <p>Last Saved 7:00pm</p>
            </div>
            <div class="col">
                <h5>
                    <%=hr %>
                </h5>
            </div>
        </div>
        <div class="row dates">

            <div class="col-1 sub">
                <div class="rotation-wrapper-outer">
                    <div class="rotation-wrapper-inner">
                        <div class="test"></div>
                    </div>
                </div>
            </div>



            <div class="col day-0">
                <label><%= day[6] %> </label>
            </div>
            <div class="col day-1">
                <label><%= day[5] %></label>
            </div>
            <div class="col day-2">
                <label><%= day[4] %></label>
            </div>
            <div class="col day-3">
                <label><%= day[3] %></label>
            </div>
            <div class="col day-4">
                <label><%= day[2] %></label>
            </div>
            <div class="col day-5">
                <label><%= day[1] %></label>
            </div>
            <div class="col day-6">
                <label><%= day[0] %></label>
            </div>
        </div>



        
            <% let results = info %>
            <% let subjects = subs %>

            <% //console.log(results, typeof(results), results[1]);%>
            <% for (let s = 0; s < 5; s++){ %>
                        
                        <% let submitSub = ""; %>

                        

                        <%  function checkSub(element) { %>
                        <%    return (element.subject == s ); %>
                        <% } %>
                        <% let subRes = subjects.filter(checkSub); %>
                        <%  submitSub = subRes[0].entry; %>

                


            <div class="row grid-row grid-row-<%=s %>">
                <div class="col-1 sub">
                    <div class="rotation-wrapper-outer">
                        <div class="rotation-wrapper-inner">
                            <input type="text" class="subject" id="sub-<%=s %>" name="sub-<%=s %>" placeholder="Subject 1" value="<%= submitSub %>">
                        </div>
                    </div>
                </div>




                <% for (let d = 0; d < 7; d++){ %>
                <div class="col day day-<%=d %>">
                    <div class="day-container">
                        <% for (let e = 0; e < 4; e++){ %>
                       <!-- <%  let hold = "entry" + String(e); %> -->
                        <!--   
                            <%   // let findDay = results.filter( item => item.day == [s, d, e] ); %>
                            <%  // console.log(findDay); %>
                            <%  //  console.log("entry is"  + findDay[hold]); %>
                        -->
                        <% let submit = ""; %>

                        <%    //results.forEach(element => { %>
                        <%    // if (element.day[0] == s && element.day[1] == d && element.day[2] == e ){ %>
                        <%          %>
                        <%        //console.log("the shits is", element.entry, "sde", String([s, d, e]))  %>
                        <%  //submit = element.entry %>
                        <%   // }; %>
                        <%//..}); %>
                        <% //console.log("the submit is ", submit); %>

                        <%  function checkDay(element) { %>
                        <%    return (element.day[0] == s && element.day[1] == d && element.day[2] == e); %>
                        <% } %>
                        <% let res = results.filter(checkDay); %>
                        <%  submit = res[0].entry; %>

                        <input type="text" name="<%=s%><%=d%><%=e%>" id="<%=s%><%=d %>-<%=e %>" placeholder="" value="<%= submit %>">

                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
            <% } %>
        </form>
    </div>






    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>


    
<!--
        <p>Click the button to get your coordinates.</p>
        
        <button onclick="getLocation()">Try It</button>
        
        <p id="demo"></p>
        

        
        <script>
        var x = document.getElementById("demo");
        
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }
        
        function showPosition(position) {
          x.innerHTML = "Latitude: " + position.coords.latitude + 
          "<br>Longitude: " + position.coords.longitude;
        }
        </script>
-->

   


    <script type="text/javascript">
        //jotform
        /*
            function formAutoSubmit() {
                let inputs = $(".day .day-container input");
                console.log(inputs);
                console.log(inputs[1]);
                for(let i = 0; i < inputs.length; i++){
                    inputs[i].submit;
                    console.log("submitted" + inputs[i]);
                };
            
            
            }
            

            window.onload = formAutoSubmit;
            */

    </script>
    <script src="bundle.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</body>

</html>
