<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <!-- ***CHANGE ME*** -->
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Styling-->
    <link rel="stylesheet" href="css/styles.css">

    <title>My Planner App</title>
</head>

<body>
    <div class="head">

    </div>
    
        <div class="container-fluid grid">
            <div class="row head">
                <div class="col-4 text-center">
                    <h5>Chicago</h5>
                </div>
                <div class="col-4 text-center">
                    <h3>My Planner</h3>
                </div>
                <div class="col">
                    <p>Last Saved 7:00pm</p>
                </div>
                <div class="col">
                    <h5>
                        4:00pm
                    </h5>
                </div>
            </div>
            <div class="row dates">

                <div class="col-1 sub">
                    <div class="rotation-wrapper-outer">
                        <div class="rotation-wrapper-inner">
                            <div class="test"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label>Sunday <%= day %> </label>
                </div>
                <div class="col">
                    <label>Monday x/xx</label>
                </div>
                <div class="col">
                    <label>Tuesday x/xx</label>
                </div>
                <div class="col">
                    <label>Wednesday x/xx</label>
                </div>
                <div class="col">
                    <label>Thursday x/xx</label>
                </div>
                <div class="col">
                    <label>Friday x/xx</label>
                </div>
                <div class="col">
                    <label>Saturday x/xx</label>
                </div>
            </div>



            <form action="/" method="post">
                <% let results = info %>
                <% //console.log(results, typeof(results), results[1]);%>
                <% for (let s = 0; s < 5; s++){ %>




                <div class="row grid-row grid-row-<%=s %>">
                    <div class="col-1 sub">
                        <div class="rotation-wrapper-outer">
                            <div class="rotation-wrapper-inner">
                                <input type="text" class="subject" id="sub-<%=s %>" name="sub-<%=s %>" placeholder="Subject 1">
                            </div>
                        </div>
                    </div>
                    <% for (let d = 0; d < 7; d++){ %>
                    <div class="col day day-<%=d %>">
                        <div class="day-container">
                            <% for (let e = 0; e < 4; e++){ %>
                            <%  let hold = "entry" + String(e); %> 


                             <!--   
                            <%   // let findDay = results.filter( item => item.day == [s, d, e] ); %>
                            <%  // console.log(findDay); %>
                            <%  //  console.log("entry is"  + findDay[hold]); %>
                        -->  
                            <% let submit = ""; %>

                        <%    results.forEach(element => { %>
                                          <%     if (element.day[0] == s && element.day[1] == d && element.day[2] == e ){ %>
                                            <%          %>
                                            <%        console.log("the shits is", element.entry, "sde", String([s, d, e]))  %>
                                            <%  submit = element.entry %>
                                            <%    }; %>
                                             <%  }); %>
                                             <% console.log("the submit is ", submit); %>

                            <input type="text" name="<%=s%><%=d%><%=e%>" id="<%=s%><%=d %>-<%=e %>" placeholder="" value="<%= submit %>">

                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% } %>
                <input type="submit" value="Submit">
            </form>
        </div>
    





    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>

    <script type="text/javascript">
    console.log("Yerr");
    </script>

    
    <script type="text/javascript">

    //jotform
        function formAutoSubmit() {
            let inputs = $(".day .day-container input");
            console.log(inputs);
            console.log(inputs[1]);
            for(let i = 0; i < inputs.length; i++){
                inputs[i].submit;
                console.log("submitted" + inputs[i]);
            };
        
        
        }
        

        window.onload = formAutoSubmit;
        
    </script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</body>

</html>
